.app-main{
    width:100%;
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@supports (height: 100dvh) {
    .app-main {
      height: 100dvh;
    }
  }
  